.faq-area {
  margin-top: 188px;

  .faq-body {
    margin: 0 1px;
    margin-right: 0;

    .accordion-button:focus {
      box-shadow: none;
    }

    .accordion-item {
      border: 0;
      background-color: transparent;

    }

    .accordion-item:last-of-type .accordion-button.collapsed {
      border-radius: 0;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
      border-color: var(--primary);
      color: var(--primary);
    }

    .accordion-button {
      padding: 0;
      font-size: 16px;
      font-weight: 700;
      padding: 19px 30px 19px 30px;
      border-bottom: 1px solid var(--black);
      background-color: transparent;
    }

    .accordion-body {
      padding: 0;
      padding-bottom: 0;
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        max-width: 513px;
      }
    }

    .accordion-button::after {
      background-image: url(../images/plus.svg);
    }

    .accordion-button:not(.collapsed)::after {
      background-image: url(../images/minus.svg);
    }

    .accordion-item:first-child {
      .accordion-button {
        border-top: 1px solid var(--bs-border-color10);
      }
    }

    .accordion-item:last-of-type {
      border-radius: 0 !important;
    }

    .accordion-item:first-of-type {
      border-radius: 0 !important;

      .accordion-button {
        border-radius: 0 !important;
      }
    }
  }
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  .faq-area {
    .row {
      --bs-gutter-y: 0px;
    }
  }
}

@media (max-width: 767.98px) {
  .faq-area {
    margin-top: 80px;
  }
}

@media (max-width: 575.98px) {}