.header-section .navbar-expand-xl .navbar-nav .nav-link {
  padding: 0;
}

.header-section {
  background-color: var(--bs-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 0;
  border-bottom: 1px solid var(--bs-border-color1);

  .top-header-area {
    background-color: var(--black);
    padding: 13px 0;

    .container-fluid {
      padding: 0 110px;
    }

    .social-icon {
      .follow {
        @include font(14px, 600);
        color: var(--white);
        line-height: 20px;
        margin-right: 25px;
      }

      a {
        color: var(--white);
        margin-right: 20px;

        svg {
          width: 22px;
          height: 22px;
          stroke-width: 1.5px !important;
        }

        &:hover {
          color: var(--primary);
        }
      }
    }

    .login {
      .login-btn {
        svg {
          color: var(--primary);
          position: relative;
          top: -1px
        }

        @include font(16px, 400);
        line-height: 24px;
        color: var(--white);

        &:hover {
          color: var(--primary);
        }

        &::before {
          width: 1px;
          height: 30px;
          background-color: rgba(224, 224, 236, 0.3);
          content: "";
          position: absolute;
          top: -4px;
          left: -15px;
        }
      }
    }
  }

  .offcanvas-menu {
    width: 110px;
    height: 110px;
    background-color: #f1f1f1;
    color: var(--primary);
    margin-right: 60px;
    flex: 0 0 auto;

    svg {
      width: 36px;
      height: 36px;
      ;
    }
  }

  .navbar {

    .navbar-nav {
      .nav-item {
        margin-right: 48px;
        position: relative;

        .nav-link {
          font-size: 16px;
          font-weight: 500;
          color: var(--black);
          font-family: var(--font-jost);
          text-transform: uppercase;

          &:hover {
            color: var(--primary);
          }

          svg {
            width: 19px;
            height: 19px;
            position: relative;
            top: -2px;
          }
        }

        .sub-menu {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 230px;
          background-color: var(--white);
          box-shadow: 0px 10px 30px 0px rgba(137, 139, 142, 0.2);
          padding: 18px 0;
          transition: var(--transition);
          visibility: hidden;
          opacity: 0;
          margin-top: 20px;

          li {
            a {
              color: var(--black);
              font-weight: 500;
              line-height: 38px;
              padding: 0 20px;
              width: 100%;

              &:hover {
                color: var(--primary);
              }
            }
          }
        }

        &:hover> {
          .nav-link {
            color: var(--primary);
          }

          .sub-menu {
            margin-top: 0;
            visibility: visible;
            opacity: 1;
          }
        }

        .active {
          font-weight: 700;
          color: var(--primary);
        }

        // .sub-menu {
        // 	width: 226px;
        // 	background-color: var(--bs-white);
        // 	position: absolute;
        // 	top: 100%;
        // 	margin-top: 50px;
        // 	left: 0;
        // 	z-index: 999;
        // 	padding: 6px;
        // 	visibility: hidden;
        // 	opacity: 0;
        // 	transition: all linear 0.2s;
        // 	border: 1px solid var(--bs-border-color1);

        // 	&::before {
        // 		position: absolute;
        // 		top: -42px;
        // 		left: 0;
        // 		width: 100%;
        // 		height: 42px;
        // 		content: "";
        // 	}

        // 	li {
        // 		a {
        // 			font-size: 18px;
        // 			font-weight: 500;
        // 			color: var(--bs-text-color3);
        // 			font-family: var(--bs-font-secondary);
        // 			display: block;
        // 			background-color: transparent;
        // 			width: 100%;
        // 			padding: 8px 16px;

        // 			&:hover {
        // 				background-color: var(--bs-primary);
        // 			}
        // 		}
        // 	}

        // 	li+li {
        // 		margin-top: 3px;
        // 	}
        // }

        // &:hover>.sub-menu {
        // 	visibility: visible;
        // 	opacity: 1;
        // 	margin-top: 40px;
        // }
      }
    }

    .call-us {
      .call-us-btn {
        background-color: var(--primary);
        height: 110px;
        padding: 0px 60px;

        .icon {
          margin-right: 10px;
        }

        .number {
          .label {
            color: var(--white);
            // margin-bottom: 14px;
            @include font(16px, 700);
            line-height: 28px;
          }

          a {
            @include font(16px, 400);
            line-height: 22px;
            color: var(--white);

            &:hover {
              text-decoration: underline;
            }
          }

          span {
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid var(--black);
    margin-right: 30px;
    padding: 0;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  .join-with-us-btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-text-color2);
  }
}

#header-fixed-height.active-height {
  display: block;
  height: 105px;
}

.sticky-menu {
  background-color: var(--bs-white);
  animation: 400ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 2px 20px rgba(25, 25, 25, 0.1);
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0;

  .top-header-area {
    display: none;
  }
}

/* Mobile menu area start */

// .mobile-menu-area {
//   z-index: 999;
//   background-color: var(--bs-white);
//   width: 100%;
//   transition: all linear 0.2s;
//   margin-top: 0;

//   .mobile-topbar {
//     width: 100%;
//     background-color: var(--bs-white);
//     padding: 13px 0;

//     .bars {
//       position: relative;

//       height: 35px;
//       width: 45px;
//       color: var(--bs-text-color1);
//       font-size: 24px;
//       text-align: center;
//       line-height: 35px;
//       border-radius: 3px;
//       cursor: pointer;
//       transition: all 0.1s ease-in-out;
//     }
//   }

//   .mobile-menu-overlay {
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.6);
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 999;
//     transition-duration: 0.3s;
//     visibility: hidden;
//     opacity: 0;
//   }

//   .mobile-menu-overlay.active {
//     visibility: visible;
//     opacity: 1;
//   }

//   .mobile-menu-main {
//     width: 320px;
//     height: 100%;
//     background-color: var(--bs-white);
//     position: fixed;
//     top: 0;
//     left: -320px;
//     z-index: 999;
//     overflow-y: scroll;
//     transition-duration: 0.3s;

//     .logo {
//       padding: 20px;
//     }

//     .close-mobile-menu {
//       position: absolute;
//       top: 16px;
//       right: 10px;

//       i {
//         width: 40px;
//         height: 40px;
//         text-align: center;
//         line-height: 40px;
//         color: var(--bs-text-color1);
//         font-size: 17px;
//         cursor: pointer;
//         transition: all linear 0.2s;
//         transition: all 0.1s ease-in-out;
//       }
//     }

//     .menu-body {
//       .menu-list {
//         padding-top: 10px;

//         ul {
//           li {
//             a {
//               font-weight: 500;
//               font-size: 15px;
//               color: var(--bs-text-color1);
//               border-top: 1px solid var(--bs-border-color1);
//               width: 100%;
//               padding: 0px 20px;
//               line-height: 44px;
//               padding-right: 10px;
//               transition: all linear 0.2s;
//               display: flex;
//               justify-content: space-between;
//               align-items: center;
//               text-transform: uppercase;

//               i {
//                 width: 32px;
//                 height: 32px;
//                 background-color: var(--bs-white);
//                 text-align: center;
//                 line-height: 32px;
//                 font-size: 12px;
//                 border-radius: 3px;
//                 transition: all linear 0.2s;
//               }
//             }

//             ul {
//               padding-left: 0;
//               display: none;

//               a {
//                 padding: 0px 20px;
//                 padding-left: 40px;
//               }

//               li:last-child a {
//                 border-bottom: 0;
//               }
//             }

//             &:last-child {
//               a {
//                 border-bottom: 1px solid var(--bs-border-color1);
//               }
//             }
//           }
//         }
//       }

//       .social-icon {
//         padding: 20px;
//         text-align: center;

//         ul {
//           li {
//             display: inline-block;
//             margin: 0 4px;

//             a {
//               width: 36px;
//               height: 36px;
//               color: var(--bs-text-color1);
//               text-align: center;
//               font-size: 16px;
//               line-height: 36px;
//               border-radius: 3px;
//             }
//           }
//         }
//       }
//     }
//   }

//   .mobile-menu-main.active {
//     left: 0 !important;
//   }

//   .mobile-menu-action-btn {
//     padding: 20px;

//     a {
//       color: var(--bs-white);
//       padding: 12px 0;
//       font-size: 16px;
//       font-weight: 700;
//       border-radius: 5px;
//       width: 100%;
//       text-align: center;

//       i {
//         font-size: 14px;
//         margin-left: 8px;
//       }

//       &:hover {
//         background-color: var(--bs-text-color1);
//       }
//     }
//   }
// }

@media (max-width: 1799.98px) {
  .offcanvas-menu {
    width: 90px !important;
    height: 90px !important;
    margin-right: 20px !important;
  }

  .navbar-brand {
    img {
      width: 200px;
    }
  }

  .header-section .navbar .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }

  .header-section .navbar .navbar-nav .nav-item {
    margin-right: 30px;
  }

  .header-section .top-header-area .container-fluid {
    padding: 0 30px;
  }

  .header-section .call-us {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .offcanvas-menu {
    width: 70px !important;
    height: 70px !important;
    margin-right: 20px !important;

    svg {
      width: 30px !important;
    }
  }

  .navbar-nav {
    border-top: 1px solid #ccc;
    padding-bottom: 24px;
    text-align: center;

    .nav-item {
      margin-top: 20px;
    }
  }

  .header-section .navbar .navbar-nav .nav-item {
    margin-right: 0;
  }

  .header-section .call-us {
    display: block;
    width: 100%;
    text-align: center;
  }

  .header-section .navbar .call-us .call-us-btn {
    height: 72px;
    text-align: left;
  }

  .header-section .navbar .call-us .call-us-btn {
    padding: 0px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
  .navbar-brand img {
    width: 167px;
  }
}