.trustpilot-area {
  margin-top: 120px;

  .info {
    .img {
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .title {
      margin-top: 20px;
      @include font(18px, 700);
    }
  }
}

@media (max-width: 1199.98px) {
  .trustpilot-area .info .img img{
    width: 130px;
  }
}


@media (max-width: 767.98px) {
  .trustpilot-area {
    margin-top: 80px;
  }
}